/* src/components/EventList.css */
.event-list {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.event-card {
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevents content from spilling outside the border radius */
    background-color: #ffffe0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    transition: transform 0.2s;
    position: relative; /* Added to establish a positioning context */

}

.event-image-container {
    position: relative; /* Relative position so that the timer can be absolutely positioned inside */
}

.event-card:hover {
    transform: translateY(-5px); /* Lifts the card slightly on hover */
}
.event-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the area, might crop */
}

.event-info {
    padding: 15px;
}
.event-info h2, .event-info .event-date, .event-info .event-description {
    margin: 5px 0; /* Adjust spacing as needed */
}


.event-card h2 {
    margin: 0;
    color: #333;
}

.event-card p {
    color: #666;
}

/* EventList.css */
.event-link {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits text color from parent */
}

/* Add any hover effects or additional styles as needed */
.event-link:hover {
    /* Your hover effect */
}
/* CountdownTimer styling */
.countdown-timer {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    /* Add more styles as needed */
}
.event-timer {
    position: absolute; /* Absolute position to overlay the timer */
    bottom: 10px; /* Position it towards the bottom of the image container */
    left: 10px; /* Position it towards the left of the image container */
    color: #FFF; /* Set text color */
    /* Add more styling as needed */
}

/* Ensure the timer text is visible against the image background */
.countdown-number, .countdown-label {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px;
    border-radius: 5px; /* Rounded corners */
}



