/* src/components/common/Footer.css */
.site-footer {
    background-color: #557A95;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.site-footer p {
    margin: 0;
}


